@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;

    --rank-gold: 45 66% 70%;
    --rank-pink: 329 68% 65%;
    --rank-orange: 30 100% 50%;
    --rank-purple: 276 84% 57%;
    --rank-blue: 214 100% 50%;
    --rank-green: 113 100% 50%;
    --rank-gray: 0 0% 40%;

    --death-knight: 350 73% 445;
    --druid: 28 100% 52%;
    --hunter: 85 65% 40%;
    --mage: 193 86% 40%;
    --paladin: 333 83% 70%;
    --priest: 0 0% 100%;
    --rogue: 60 100% 35%;
    --shaman: 210 100% 43%;
    --warlock: 239 75% 64%;
    --warrior: 31 50% 50%;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;

    --rank-gold: 45 66% 70%;
    --rank-pink: 329 68% 65%;
    --rank-orange: 30 100% 50%;
    --rank-purple: 276 84% 57%;
    --rank-blue: 214 100% 50%;
    --rank-green: 113 100% 50%;
    --rank-gray: 0 0% 40%;

    --death-knight: 350 73% 445;
    --druid: 28 100% 52%;
    --hunter: 85 52% 64%;
    --mage: 193 81% 58%;
    --paladin: 333 83% 75%;
    --priest: 0 0% 100%;
    --rogue: 60 100% 78%;
    --shaman: 210 100% 43%;
    --warlock: 239 75% 73%;
    --warrior: 31 44% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}
